/* https://flatuicolors.com/palette/cn */
:root
{
    --golden-sand : rgba(236, 204, 104,1.0);
    --orange: rgba(255, 165, 2,1.0);
    --lime-soap: rgba(123, 237, 159,1.0);
    --ufo-green: rgba(46, 213, 115,1.0); 
    --coral: rgba(255, 127, 80,1.0); 
    --bruschetta-tomato: rgba(255, 99, 72,1.0); 
    --french-sky-blue: rgba(112, 161, 255,1.0);
    --clear-chill: rgba(30, 144, 255,1.0);
    --wild-watermelon: rgba(255, 107, 129,1.0);
    --watermelon: rgba(255, 71, 87,1.0);
    --satured-sky: rgba(83, 82, 237,1.0);
    --bright-greek: rgba(55, 66, 250,1.0);
    --peace: rgba(164, 176, 190,1.0); 
    --bay-wharf: rgba(116, 125, 140,1.0);
    --white: rgba(255, 255, 255,1.0);
    --anti-flash-white: rgba(241, 242, 246,1.0);
    --grisaille: rgba(87, 96, 111,1.0);
    --prestige-blue: rgba(47, 53, 66,1.0);
    --city-lights: rgba(223, 228, 234,1.0);
    --twinkle-blue: rgba(206, 214, 224,1.0);
}

/* Common */

.dark-background
{
    background-color: var(--prestige-blue);
}

.red-text
{
    color: var(--watermelon);
}

.important-text
{
    color: var(--watermelon);
    font-weight: 600;
}
.text-light
{
    color: var(--twinkle-blue);
}