/* Debug */
/*{outline: 1px solid red;}

/* Scroll */
body {
    overflow-x: hidden;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    font-family: 'Prompt', sans-serif;
    font-family: "Expletus Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

/* Navbar */
.name {
    color: var(--watermelon) !important;
    font-size: 25px;
    font-weight: bold;
}

/* Title section */
.section-title {
    color: var(--prestige-blue);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 225%;
    text-align: center;
}

/* Index */
.wave-bottom {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
}

.wave-bottom svg path {
    fill: #D9E3F1;
}

.description {
    color: var(--twinkle-blue);
    font-weight: bold;
    font-size: 250%;
    font-family: winterInsight;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 30%;
    width: 100%;
}

.parallax {
    /* The image used */
    background-image: url("../image/background-home.jpg");

    /* Set a specific height */
    min-height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
}

section {
    background-color: var(--prestige-blue) !important;
}

.section-title h1 {
    color: var(--city-lights) !important;
}

.section-title h2 {
    color: var(--city-lights) !important;
}

.section-title h6 {
    color: var(--city-lights) !important;
}

.section-title hr {
    margin: 0 auto;
    width: 25vw;
    height: 5px !important;
    background-color: var(--city-lights) !important;
    opacity: 1 !important;
}

.card-text {
    font-size: 32px;
}

/* */
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 3;
}

.div2 {
    grid-area: 2 / 1 / 3 / 3;
}

.div3 {
    grid-area: 3 / 1 / 4 / 3;
}

.div4 {
    grid-area: 4 / 1 / 5 / 3;
}

.div5 {
    grid-area: 5 / 1 / 6 / 3;
}

.div6 {
    grid-area: 1 / 4 / 2 / 6;
}

.div7 {
    grid-area: 2 / 4 / 3 / 6;
}

.div8 {
    grid-area: 3 / 4 / 4 / 6;
}

.div9 {
    grid-area: 4 / 4 / 5 / 6;
}

.div10 {
    grid-area: 5 / 4 / 6 / 6;
}

.progress {
    background-color: var(--prestige-blue);
    margin: 0 auto;
    height: 30px;
    width: 75%;
    margin-top: 25px;
}

.progress-label {
    text-align: center;
    color: var(--twinkle-blue);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 150%;
    width: 15%;
}

.progress-bar {
    background-color: var(--clear-chill) !important;
}

.container-image {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px 50px;
    grid-template-areas:
        "top-left top-center top-right"
        "middle-left middle-center middle-right"
        "left-bottom middle-bottom right-bottom";
    width: 100%;
    height: 900px;
}

.top-left {
    grid-area: top-left;
}

.top-center {
    grid-area: top-center;
}

.top-right {
    grid-area: top-right;
}

.middle-left {
    grid-area: middle-left;
}

.middle-center {
    grid-area: middle-center;
}

.middle-right {
    grid-area: middle-right;
}

.left-bottom {
    grid-area: left-bottom;
}

.middle-bottom {
    grid-area: middle-bottom;
}

.right-bottom {
    grid-area: right-bottom;
}

.ma-sauvegarde,
.izybat {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-img,
.center-txt {
    display: inline-block;
    vertical-align: middle;
}

.center-txt {
    margin-left: 25px;
    width: 75%;
    font-size: 25px;
}

#div2-1,
#div2-2 {
    height: 50%;
}

#div1,
#div2 {
    height: 50px;
}

#div2.col-xs-6 {
    padding: 0px !important;
}

.custom_active 
{
    background: var(--watermelon);
    transition: all 0.2s;
}

li
{
    font-size: 20px;
}

.accordion-button
{
    font-size: 0.75em !important;
}

.nav-tabs .nav-link:hover
{
    color: var(--prestige-blue);
}

.bilan
{
    margin-left: auto; 
    margin-right: auto;
}

/* */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

.honeycomb {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
	transform: translateY(34.375px);
}

.honeycomb-cell {
	flex: 0 1 250px;
	max-width: 250px;
	height: 137.5px;
	margin: 65.47619px 12.5px 25px;
	position: relative;
	padding: 0.5em;
	text-align: center;
	z-index: 1;
}

.honeycomb-cell__title {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	hyphens: auto;
	word-break: break-word;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	font-size: 1.25em;
	transition: opacity 350ms;
}

.honeycomb-cell__title > small {
	font-weight: 700;
	margin-top: 0.25em;
}

.honeycomb-cell__image {
	object-fit: cover;
	object-position: center;
}

.honeycomb-cell::before, .honeycomb-cell::after {
	content: '';
}

.honeycomb-cell::before, .honeycomb-cell::after, .honeycomb-cell__image {
	top: -50%;
	left: 0;
	width: 100%;
	height: 200%;
	display: block;
	position: absolute;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	z-index: -1;
}

.honeycomb-cell::before {
	background: #fff;
	transform: scale(1.055);
}

.honeycomb-cell::after {
	background: #3ea0eb;
	opacity: 0.5;
	transition: opacity 350ms;
}

.honeycomb-cell:hover .honeycomb-cell__title {
	opacity: 0;
}

.honeycomb-cell:hover::before {
	background: #72f88e;
}

.honeycomb-cell:hover::after {
	opacity: 0;
}

.honeycomb__placeholder {
	display: none;
	opacity: 0;
	width: 250px;
	margin: 0 12.5px;
}

@media (max-width: 550px) {
	.honeycomb-cell {
		margin: 81.25px 25px;
	}
}

@media (min-width: 550px) and (max-width: 825px) {
	.honeycomb-cell:nth-child(3n) {
		margin-right: calc(50% - 125px);
		margin-left: calc(50% - 125px);
	}

	.honeycomb__placeholder:nth-child(3n + 5) {
		display: block;
	}
}

@media (min-width: 825px) and (max-width: 1100px) {
	.honeycomb-cell:nth-child(5n + 4) {
		margin-left: calc(50% - 275px);
	}

	.honeycomb-cell:nth-child(5n + 5) {
		margin-right: calc(50% - 275px);
	}

	.honeycomb__placeholder:nth-child(5n), .honeycomb__placeholder:nth-child(5n + 3) {
		display: block;
	}
}

@media (min-width: 1100px) {
	.honeycomb-cell:nth-child(7n + 5) {
		margin-left: calc(50% - 400px);
	}

	.honeycomb-cell:nth-child(7n + 7), .honeycomb-cell:nth-child(7n + 5):nth-last-child(2) {
		margin-right: calc(50% - 400px);
	}

	.honeycomb__placeholder:nth-child(7n + 7), .honeycomb__placeholder:nth-child(7n + 9), .honeycomb__placeholder:nth-child(7n + 11) {
		display: block;
	}
}